[Unit]
Description=Valet Rust Caddy
After=network.target

[Service]
Type=simple
ExecStart={{CADDY_BIN}} run --config {{CONFIG_DIR}}/Caddyfile
ExecReload={{CADDY_BIN}} reload --config {{CONFIG_DIR}}/Caddyfile
Restart=on-failure
RestartSec=2

[Install]
WantedBy=default.target
